<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>Despesas</h1>
    <input type="text" placeholder="nome da despesa" />
    <input type="text" placeholder="Insira valor" />

    <select name="" id="">
      <option value="outros">-- --</option>
      <option value="aluguel">Aluguel</option>
      <option value="alimentacao">Alimentação</option>
      <option value="deslocamento">Deslocamento</option>
      <option value="educacao">Educação</option>
      <option value="entretenimento">Entretenimento</option>
      <option value="outros">outros</option>
    </select>

    <input type="text" placeholder="Descrição" />
    <input type="date" name="" id="" />

    <h1>Suas despesas:</h1>
  </body>
</html>
