<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>Investimentos</h1>
    <input type="text" placeholder="Nome do investimento" />
    <input type="text" placeholder="Insira valor" />

    <select name="" id="">
      <option value="outros">-- --</option>
      <option value="fiis">Fiis</option>
      <option value="acoes">Ações</option>
      <option value="renda_fixa">Renda fixa</option>
      <option value="outros">outros</option>
    </select>

    <input type="text" placeholder="Descrição" />
    <input type="date" name="" id="" />

    <h1>Seus investimentos:</h1>
  </body>
</html>
