<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>Metas</h1>
    <input type="text" placeholder="Nome da meta" />
    <input type="text" placeholder="Insira valor" />

    <select name="" id="">
      <option value="outros">-- --</option>
      <option value="viagem">Viagem</option>
      <option value="patrimonio">Patrimonio</option>
      <option value="reserva">Reserva de emrgência</option>
      <option value="casa">Casa</option>
      <option value="outros">outros</option>
    </select>

    <input type="text" placeholder="Descrição" />
    <input type="date" name="" id="" />

    <h1>Suas Metas:</h1>
  </body>
</html>
