<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>Receitas</h1>
    <input type="text" placeholder="Nome da Receita" />
    <input type="text" placeholder="valor" />

    <select name="" id="">
      <option value="outros">-- --</option>
      <option value="salario">Sálario</option>
      <option value="salario">Dividendos</option>
      <option value="outros">outros</option>
    </select>

    <input type="text" placeholder="Descrição" />
    <input type="date" name="" id="" />

    <h1>Suas receitas:</h1>
  </body>
</html>
